body
  background: black

.log
  margin: 20px 0 0 20px
  font: 14px Consolas, monospace

.hash
  color: yellow

.user
  color: lime

.date
  color: lime

.description
  color: lime
  margin: 20px 0 20px 30px

